<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau de bord - Capitainerie de Port Roussel</title>
</head>
<body>
    <h1>Tableau de bord - Gestion de la Capitainerie</h1>
    <p>Bienvenue dans le système de gestion de Port Roussel.</p>

    <hr>

    <h2>Que souhaitez-vous faire ?</h2>
   <ul>
        <li><a href="/catways/catways-dashboard">Gestion des Catways (Pontons)</a></li>
        <li><a href="#">Gestion des Réservations</a></li>
        <li><a href="#">Gestion des Utilisateurs du site</a></li>
    </ul>
    
    <br>
    <a href="/users/login">Se déconnecter</a>
</body>
</html>